#K-MainContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
#K-Container1 {
  display: flex;
}
#K-Container1_1 {
  width: 80px;
  height: 192px;
  border-top: 3px solid rgb(59, 61, 59);
  border-bottom: 3px solid rgb(59, 61, 59);
  border-left: 3px solid rgb(59, 61, 59);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#fotoDireksiyon {
  width: 40px;
  transform: rotate(-90deg);
  position: relative;
  top: 135px;
  left: 15px;
}

#K-Container1_2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 520px; /* İstenilen genişliği belirleyebilirsiniz */
  height: 192px; /* ellemeyiniz */
  border-top: 3px solid rgb(59, 61, 59);
  border-bottom: 3px solid rgb(59, 61, 59);
  border-right: 3px solid rgb(59, 61, 59);
  border-end-end-radius: 10px;
  border-top-right-radius: 10px;
  padding: 2px 0px;
}

.K-MAP {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; /* Koltuk arka plan rengi */
  border-radius: 5px; /* Koltuk kenarlık yuvarlaklığı */
  width: 35px; /* Koltuk genişliği */
  height: 35px; /* Koltuk yüksekliği */
}

#K-Koltuklar {
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

#K-secilenler {
  display: flex;
  flex-direction: row;
}
#K-secilenler-ic {
  margin-right: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
}
#K-Container2 {
  display: flex;
  flex-direction: column;
  height: 192px;

}
#K-Button {
  height: 35px;
  width: 172px;
  border-radius: 0.5em;
  background-color: #0ab285;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: auto;

}
#K-Button[disabled] {
  background-color: #0ab28586;
  color: #fff;
  cursor: not-allowed;
}
