.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #251b1b;
  color: #fff;
  height: 60px;
  padding: 0 20px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: row;
}
.navbar-logo img {
  padding-right: 20px;
  height: 40px;
  width: auto;
}

.navbar-menu {
  list-style: none;
  display: flex;
}

.navbar-menu li {
  margin-left: 15px;
}

.navbar-menu li:first-child {
  margin-left: 0;
}

.ButunlarNav {
  position: relative;
  height: 30px;
  width: 100px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: transparent;
  overflow: hidden;
  transition: 0.6s;
  color: #206592;
  border-color: #206592;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.ButunlarNav a {
  text-decoration: none;
  color: #ce5c0c;
}

/* button:first-child{
  color: #206592;
  border-color: #206592;
}
button:last-child{
  color: #ce5c0c;
  border-color: #ce5c0c;
} */
.ButunlarNav:before,
.ButunlarNav:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.ButunlarNav:before {
  width: 60px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.ButunlarNav:after {
  width: 30px;
  background: rgba(255, 255, 255, 0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.ButunlarNav:hover:before,
.ButunlarNav:hover:after {
  transform: translateX(320px) skewX(-45deg);
}
.ButunlarNav:hover {
  color: #206592;
  font-weight: 700;
}
.ButunlarNav:hover:first-child {
  background: #ce5d0c8f;
}
.ButunlarNav:hover {
  background: #206592;
}

#deneme1234 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ce5c0c;
}
#yaziNavbar {
  padding-right: 15px;
  color: #ce5c0c;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
